<h1><%= @channels.count %> first channels for "<%= @search_input %>"</h1>

<div class="row">
    <% @channels.each do |channel| %>
        <div class="col-md-4 mb-3">
            <%= render partial: "channels/overview", locals: { channel: channel } %>
        </div>
    <% end %>    
</div>
