<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">You want stats ? Lots of stats ? Even more stats ?</p>
  <hr class="my-4">
  <p>Enter a channel name, and I will take care of everything</p>
  <p class="lead">
    <%= render partial: "channels/search_channels_bar" %>
  </p>
</div>