<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">You want stats ? Lots of stats ? Even more stats ?</p>
  <hr class="my-4">
  <p>Enter a channel name, and I will take care of everything</p>
  <p class="lead">
    <%= form_tag(search_channels_path, method: "post", class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag(:search_input, @search_input, class: "form-control mr-sm-2", placeholder: "Search a channel" ) %>
        <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
    <% end %>
  </p>
</div>